.cproject
.project
.settings

CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile

!doc/Makefile

*.o
*.a
gmon.out

# OSX
.DS_Store
docs/_build/

/_wd_
/.vscode
/build
build-fast.sh
build.sh
clean.sh
Dockerfile-dev
entrypoint-dev.sh
start-dev.sh
start-nginx.sh
*.dylib
src/data/blocks
